img {
  max-width: 100%;
}

.navbar {
  background: red;
}

.navbar-brand {
  max-width: 25rem;
}

.btn-default {
  color: white;
  background: red;
  text-transform: uppercase;
}

.btn-white {
  color: red;
  background: white;
  text-transform: uppercase;
  border-radius: 0;
}
