img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background: red;
  height: 60px;
  justify-content: space-between;
  overflow: none;
  flex-wrap: nowrap;
}

.navbar-brand {
  height: 45px;
}

.btn-default {
  color: white;
  background: red;
  text-transform: uppercase;
}

.btn-white {
  color: red;
  background: white;
  text-transform: uppercase;
  border-radius: 0;
}
